<form name="login-form" class="d-none" data-action="login">
  <div class="row auth-error">
    <span></span>
  </div>
  <div class="row">
    <input class="form-control" type="text" name="email" placeholder="Email">
    <span class="error-text"></span>
  </div>
  <div class="row">
    <input class="form-control" type="password" name="password" placeholder="Password">
    <span class="error-text"></span>
  </div>
  <div class="row">
    <input type="submit" id="send-form" class="btn btn-primary" value="Login">
  </div>
</form>