{% extends 'base.html' %}
{% load static %}

{% block extra_css %}{% endblock extra_css %}

{% block base_content %}

  {# TODO: first screen with login and registration #}
  {% include 'includes/header.html' %}
  <section>Section 1</section>
  <section>Section 2</section>
  <section>Section 3</section>
  <section>Section 4</section>
  <footer>Footer</footer>


{% endblock base_content %}

{% block extra_js %}
  <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-mutate-approach="sync"></script>
{% endblock extra_js %}